* {
  word-break: break-word;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=cyrillic-ext');
$font-family-secondary: 'Noto Sans', sans-serif;

@font-face {
  font-family: "MuseoSansRounded";
  src: url("../../resources/fonts/MuseoSansRounded-900.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("../../resources/fonts/MuseoSansRounded-700.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("../../resources/fonts/MuseoSansRounded-500.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url("../../resources/fonts/MuseoSansRounded-300.ttf");
  font-weight: 300;
  font-style: normal;
}
